#header {
    width: 100%;
    height: 663px;
    background-image: url("images/work-desk__dustin-lee.jpg");
    background-size: cover;
}
#header .text-header {
    text-align: center;
}
@media (min-width: 576px) {
    #header .text-header {
        padding: 9rem 2rem;
    }
}
#header .text-header{
    padding: 18rem 1rem;
    margin-bottom: 2rem;
    border-radius: .3rem;
}
#header .text-header h1 {
    color: white;
}
#header .text-header h2 {
    color: white;
}
#header .text-header p {
    color: white;
}
#content-cermati {
    background-color: #e5e5e5;
}
.content-can-help {
    text-align: center;
    padding: 4rem 1rem;
}
.content-can-help h1{
    line-height: 2;
}
.content-can-help p{
    line-height: 0.7;
}
.bg-footer-cermati {
    background-color: #030326;
}